<div class="row" *ngIf="trainerList.length>0">
  <div class="col-md-3" style="cursor:pointer" *ngFor="let trainer of trainerList" (click)="showUserDetail(u.login)">
    <div class="card">
      <!-- <img class="card-img-top" style="max-height: 220px;min-height:220px" src="{{ u.avatar_url }}" alt="Card image cap"> -->

      <div class="card-block">
        <h4 class="card-title">
          <a class="btn btn-primary" [routerLink]="['/trainer', trainer.Id]">{{ trainer.FirstName }} {{ trainer.LastName }}</a>
        </h4>
        <p class="card-text">

        </p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
