<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="search" [(ngModel)]="searchUser" class="form-control" placeholder="Search users">
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="searchUsers()" type="button">Go!</button>
      </span>
    </div>
  </div>
  <div class="col-lg-2 pull-right">
      <button class="btn btn-primary" (click)="getAllUsers()">Get Users</button>
  </div>
</div>
<img src="./assets/images/dualRing.gif" *ngIf="isBusy" alt="loading" style="max-height:50px" />
<br/>
<div class="row">

  <div class="col-md-3" *ngFor="let u of gitUserModel">
    <div class="card">
      <img class="card-img-top" style="max-height: 220px;min-height:220px" src="{{ u.avatar_url }}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{ u.login }}</h4>
        <p class="card-text">
          User Name: {{ u.name }}
          <br/> <a href="{{ u.html_url }}" target="_blank">Go</a> 
        </p>
        <!-- <a [routerLink]="['/', u.login]" class="btn btn-primary">Does Nothing</a> -->
      </div>
    </div>
  </div>

  <h2 *ngIf="gitUserModel.length == 0 && !isBusy">No users found!!</h2>
</div>
