<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="SubmitForm(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="CourseName">Course Name</label>
          <input type="text" id="CourseName" class="form-control" name="CourseName" required 
          [(ngModel)]="selectedCourse.CourseName" #courseName="ngModel">
          <label class="has-error" *ngIf="courseName.invalid && courseName.touched">
            Enter a valid course
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="CourseDescription">Description</label>
          <textarea name="Description" class="form-control" id="CourseDescription" 
          cols="20" rows="10" [(ngModel)]="selectedCourse.CourseDescription">
          </textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="ImageUrl">Image URL</label>
          <input name="ImageUrl" class="form-control" id="ImageUrl" [(ngModel)]="selectedCourse.ImageUrl">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input type="submit" class="btn btn-primary" value="Submit" [disabled]="f.invalid">
        </div>
      </div>
      <div class="row" *ngIf="message.length>0">
        <div class="col-sm-12">
          <span>{{ message }}</span>
        </div>
      </div>
    </form>
  </div>
</div>